.editor-pane {
  height: 100%;
  .editor-pane--heading {
    margin: 0;
    padding: 0.5rem 7.5px;
    background: var(--color-bg);
    color: var(--color-accent);
    display: flex;
    align-items: center;
    gap: 7.5px;

    .editor-icon {
      width: 20px;
      aspect-ratio: 1/1;
    }
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
